$body: #444444;
$headings: #000000;
$subtle: #767676;

$redmain: #dd2222;
$red1: #851414;
$red2: #c71f1f;
$red3: #e03838;
$red4: #eb7a7a;
$red5: #f5bdbd;

$bluemain: #0046A0;
$blue1: #002a60;
$blue2: #003f90;
$blue3: #1a59aa;
$blue4: #6690c6;
$blue5: #b3c8e3;

$light1: #ffffff;
$light2: #f2f2f2;
$light3: #e6e6e6;
$light4: #d9d9d9;
$light5: #cccccc;
$light6: #bfbfbf;


$background1: #f7f7f7;
$background2: #e7e7e7;
$background3: #d7d7d7;


$cardshadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


$gap1: .5rem;
$gap2: 1rem;
$gap3: 1.5rem;
$gap4: 2rem;
$gap5: 2.5rem;
$gap6: 3rem;
$gap7: 3.5rem;
$gap8: 4rem;


$point0: 320px;
$point1: 525px;
$point2: 960px;
$point3: 1366px;
$point4: 1640px;


@mixin card-plain {
    background-color: $light1;
    box-shadow: $cardshadow;
}

@mixin card {
    @include card-plain;
    border-top: 3px solid $red2;
}

@mixin circle-img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    clip-path: circle();
    background-color: $background3;
}
